.orange-color {
    color: #9f5841;
}

body {
    background: #100a1c;
    background-image:
            radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
            radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
    min-height: 100vh;
}

#calculator-section {
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin:auto;
}

#calculator-section .transaction-output {
    height: 140px;
    position: relative;
}

#calculator-section .transaction-output p {
    position: absolute;
    bottom: 0;
    float: right;
    font-size: 40px;
    margin: 20px 0px 20px 20px;
    text-align: right;
    right: 20px;
}

#calculator-section .keys-output {
    height: 60%;
    flex-wrap: wrap;
}

#calculator-section .keys-output .key_btn {
    width: 70px;
    height: 70px;
    font-size: 30px;
    margin: 10px;
    border: none;
    background: rgba(42, 50, 113, 0.28);
}

#calculator-section .keys-output .key_btn[data-action="false"] {
    color: #6cacc5;
}

#calculator-section .keys-output .key_btn:hover {
    background: #201e40;
}

#calculator-section .keys-output .key_btn:focus {
    outline: 0;
}

@keyframes slideColor{
    0%{
        background-color: #387780;
    }
    33%{
        background-color: #3f88c5;
    }
    66%{
        background-color: #588b8b;
    }
    100%{
        background-color: #387780;
    }
}

@keyframes slideColor1 {
    0% {
        background-color: #d9e6f2;
    }
    33% {
        background-color: #b3cce6;
    }
    66% {
        background-color: #8cb3d9;
    }
    100% {
        background-color: #9fbfdf;
    }
}
