.orange-color {
    color: #9f5841;
}

body {
    background: #100a1c;
    background-image:
            radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
            radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
    min-height: 100vh;
    overflow: hidden;
}

#calculator-section {
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin:auto;
}

#calculator-section.shake-animation {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    backface-visibility: hidden;
    perspective: 1000px;
}

#calculator-section .transaction-output {
    height: 160px;
    position: relative;
}

#calculator-section .transaction-output .entered-value {
    opacity: 0;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    top: 5px;
    font-size: 31px;
    color: #6cacc5;
}

#calculator-section .transaction-output .zoom-animation {
    opacity: 1;
    animation: zoom 1s;
}

#calculator-section .transaction-output p {
    position: absolute;
    bottom: 0;
    float: right;
    font-size: 40px;
    margin: 20px 0px 20px 20px;
    text-align: right;
    right: 20px;
}

#calculator-section .keys-output {
    height: 60%;
    flex-wrap: wrap;
}

#calculator-section .keys-output .key_btn {
    width: 70px;
    height: 70px;
    font-size: 30px;
    margin: 10px;
    border: none;
    background: rgba(42, 50, 113, 0.28);
}

#calculator-section .keys-output .key_btn[data-action="false"] {
    color: #6cacc5;
}

#calculator-section .keys-output .key_btn:hover {
    background: #201e40;
}

#calculator-section .keys-output .key_btn:focus {
    outline: 0;
}

.warning {
    background: -webkit-linear-gradient(45deg, #c97874 10%, #463042 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #8c5059;
    font-weight: 400;
    margin: 0 auto;
    max-width: 9em;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
}

@keyframes zoom {
    0% {
        transform: scale(.5);
        opacity: 1;
    }

    70% {
        transform: scale(2);
    }

    100% {
        opacity: 0;
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, -50%, 0);
    }

    20%, 80% {
        transform: translate3d(2px, -50%, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, -50%, 0);
    }

    40%, 60% {
        transform: translate3d(4px, -50%, 0);
    }
}
